<script setup lang="ts">
import {
  mdiFacebook,
  mdiSteam,
  mdiGitlab,
  mdiInstagram,
  mdiHeart,
  mdiGmail,
} from "@mdi/js";
import { ref } from "vue";
const colorH = ref("none");
function colorbt() {
  colorH.value = colorH.value === "pink" ? "none" : "pink";
  return console.log(colorH);
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="2"
        ><v-avatar color="surface-variant" size="250"
          ><v-img
            src="https://lh3.googleusercontent.com/a/AEdFTp7emjGUzgfm2urG84yihdOzmUl14Rtwr0wTrIP7=s288-p-rw-no"
          ></v-img></v-avatar
      ></v-col>
      <v-col>
        <div class="text-h3 pa-0">Narachai Praphaisan (63160201)</div>
        <div class="text-h4 pa-3">Burapha University : Computer science</div>
        <v-btn
          variant="text"
          href="https://www.facebook.com/GF100220"
          target="_blank"
          ><v-icon :icon="mdiFacebook" color="blue" x-large />
          facebook
        </v-btn>
        <v-btn
          variant="text"
          href="https://www.instagram.com/narachai_praphaisan/"
          target="_blank"
          ><v-icon :icon="mdiInstagram" color="pink" x-large />
          Instagram
        </v-btn>
        <v-btn
          variant="text"
          href="https://steamcommunity.com/profiles/76561199050729170/"
          target="_blank"
          ><v-icon :icon="mdiSteam" x-large />
          Steam
        </v-btn>
        <v-btn
          variant="text"
          href="https://gitlab.com/web-programming19"
          target="_blank"
          ><v-icon :icon="mdiGitlab" color="orange" x-large />
          Gitlab
        </v-btn>
        <v-btn
          variant="text"
          href="mailto:63160201@go.buu.ac.th"
          target="_blank"
          ><v-icon :icon="mdiGmail" color="red" x-large />
          Gmail
        </v-btn>
        <br /><br />
        <v-divider></v-divider>
      </v-col>
      <v-col sm="1">
        <v-btn icon variant="plain" @click="colorbt()">
          <v-icon :icon="mdiHeart" :color="colorH" size="30"></v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <br /><br /><br />
    <v-row class="justify-center">
      <v-col cols="6">
        <v-table style="background-color: transparent">
          <thead>
            <tr>
              <th><h2>ประวัติส่วนตัว</h2></th>
              <th><h2>ประการศึกษา</h2></th>
              <th><h2>สิ่งที่สนใจ</h2></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ชื่อเล่น : เกม</td>
              <td>ประถมศึกษา : โรงเรียนทองประสาทเวทย์</td>
              <td>เกมส์</td>
            </tr>
            <tr>
              <td>วันเดือนปีเกิด : 3 กุมภาพันธ์ 2544</td>
              <td>มัธยมศึกษาตอนต้น : โรงเรียนหนองฉางวิทยา</td>
              <td>แมวที่ร้องเหมียวๆ</td>
            </tr>
            <tr>
              <td>อายุ : 21 ปี</td>
              <td>มัธยมศึกษาตอนปลาย : โรงเรียนบ้านทุ่งนาวิทยา</td>
              <td>ดูหนัง&ฟังเพลง</td>
            </tr>
            <tr>
              <td>กรุ๊ปเลือด : B</td>
              <td>ปัจจุบันกําลังศึกษา : มหาวิทยาลัยบูรพา</td>
              <td>JAVA/HTML/PYTHON/CSS/JS</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>

    <v-row>
      <v-col
        ><div class="text-center">
          <v-progress-circular
            indeterminate
            color="primary"
          ></v-progress-circular>

          <v-progress-circular indeterminate color="red"></v-progress-circular>

          <v-progress-circular
            indeterminate
            color="purple"
          ></v-progress-circular>

          <v-progress-circular
            indeterminate
            color="green"
          ></v-progress-circular>

          <v-progress-circular
            indeterminate
            color="amber"
          ></v-progress-circular></div
      ></v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-progress-circular {
  margin: 1rem;
}
th {
}
</style>
